# Версия с комментариями ревьюера и моими
ticketing_area_panayoti_with_review.ipynb

# Виртуальное окружение
env/
venv/
*.env
*.pyenv

# Файлы для кеширования
__pycache__/
*.py[cod]

# Файлы среды разработки
.idea/
.vscode/
*.iml
.ipynb_checkpoints/

# Логи и временные файлы
*.log
*.bak
*.swp

# Системные файлы
Thumbs.db  # Windows
.DS_Store  # macOS
